@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container{
    margin: 0 auto;
    max-width: 1240px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.header-nav-tree{
    margin-top: 30px;
}

.nav-tree{
    display: flex;
    height: 90px;
    padding-left: 30px;
}

.nav-tree a{
    font-size: 12px;
    line-height: 15;
    text-decoration: none;
    color: #969696;
}

.nav-tree li{
    margin-right: 20px;
}

.nav-tree li:last-child a{
    color: black;
}

.contact-info{
    margin: 48px 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-content h2{
    font-weight: 500;
    font-size: 31px;
    line-height: 42px;
    text-transform: uppercase;
    color: #232323;
}

.contact-block{
    margin-top: 30px;
}

.contact-text{
    font-size: 16px;
    line-height: 26px;
    color: #323232;
}

.subtext{
    font-size: 12px;
    line-height: 12px;
    color: #848484;
}

.contact-form{
    width: 500px;
    padding: 40px 65px 50px;
    background-color: #F8F8F8;
}

.contact-form h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #323232;
}

.form-input{
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: #969696;
    padding: 15px 0 15px 20px;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
    margin-top: 15px;
}

.form-btn{
    width: 100%;
    background: #DD4053;
    border-radius: 2px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 0;
    border: none;
    margin-top: 20px;
}

.team-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid ;
}

.team-header h2{
    font-weight: 500;
    font-size: 31px;
    line-height: 42px;
    text-transform: uppercase;
    color: #232323;
}

.team-list{
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    display: flex;
    list-style: none;
}

.team-list li{
    opacity: 0.35;
    margin-left: 50px;
}

.team-list li:first-child{
    opacity:1;
    margin-left: 0;
}

.team-card-zone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.team-card{
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    border-bottom: 1px solid #D0D0D0;
    margin-top: 35px;
    width: 550px;
}

.card-text{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 156px;
}

.card-header h4{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #323232;
}

.card-header p{
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 90%;
    }
    
    header{
        display:none
    }

    .contact-form{
        width: 380px;
    }

    .team-card{
        width: 100%;
        justify-content: center;
    }

    .team-list li{
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px){
    .contact-info{
        flex-direction: column;
    }

    .contact-form{
        margin-top: 20px;
    }

    .team-header{
        flex-direction: column;
        align-items: start;
    }

    .team-list li{
        margin-left: 0;
        margin-top: 20px;
    }
}